.mgrid {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;
}

.mpage {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height: 100vh;
    .mgrid {
        flex-grow: 1;
        overflow-y: auto;
    }
}

html{
    overflow-y: unset !important;
}